* {
  font-family: 'Courier', 'monospace';
}

body {
  background-color: #ffffff;
}

h4 {
font-size: 16px;
font-family: 'Courier', 'monospace';
}

button {
  margin: 5px 10px;
  background-color: #FFFDDF !important; 
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-family: 'Courier', 'monospace';
}

button:hover {
  background-color: #fffeee !important; 
}

.App {
  text-align: center;
}

.home {
  height: 100%;
  width: 100%;
}

.collections {
  height: 100vh;
  background-image: url("./images/ManReading.jpg");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-group-local{
  padding: 20px;
  background-color: #FFFDDF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.card-local {
  background-color: white;
  width: 15%;
  min-width: 200px;
  min-height: 200px;
  margin: 1%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px RGBA(140,140,140,0.3);


  flex-wrap: wrap;
  flex-flow: row wrap;
}
.card-local:hover{ 
  box-shadow: 0px 0px 10px RGBA(140,140,140,0.7);
}

.card-footer-local {
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-end;
}

.footer-body {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px RGBA(140,140,140,0.3);
}

.footer-contents {
  background-color: #ffffff;
  padding: 50px 18%;
}

.imprint {
  text-align: left;
  list-style: none;
  font-size: 12px;
}
.imprint-title {
  font-weight: 700;
  text-decoration: underline;
}
.folder-group {
  background-color: #FFFDDF;
}/* Search bar */

.NavBar {
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-image: url("./images/logo_transparent.png");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
