* {
  font-family: "Courier", "monospace";
}

body {
  background-color: #ffffff;
}

h4 {
  font-size: 16px;
  font-family: "Courier", "monospace";
}

/*navbar title*/

.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 500;
  border-right: 4px solid rgb(255, 227, 223);
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 227, 223);
  }
}

/**/
a {
  color: black;
}

a:hover {
  background-color: rgb(255, 227, 223) !important;
}

p {
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.dropdown-basic-button {
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid rgb(255, 227, 223);
  color: black;
}

.dropdown-toggle.btn.btn-primary {
  color: black;
}

button {
  margin: 5px 10px;
  background-color: #fffddf !important;
  border-radius: 30px;
  border: 2px solid rgb(255, 227, 223);
  /* border-radius: 5px; */
  padding: 1px 5px;
  font-family: "Courier", "monospace";
}

.btn-primary {
  color: black;
  border: 2px solid rgb(255, 227, 223);
  border-radius: 30px;
  font-family: "Courier", "monospace";
  font-size: 14px !important;
}

button:hover {
  background-color: #fffeee !important;
}

.btn-search {
  margin: 5px 10px;
}

.dropdown-menu-show {
  display: block;
  font-size: small;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.App {
  text-align: center;
}

.home {
  height: 100%;
  width: 100%;
}

.navbar {
  text-align: right;
  margin: 0px 20px;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.NavBar a {
  padding: 10px;
}

.signupLogin {
  display: block;
  float: left;
  background-color: aquamarine;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.auth-body {
  display: block;
  background-color: #fffddf;
  border: 2px solid rgb(255, 227, 223);
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%; 
  left: 50%; 
}

.signupDiv {
  padding: 20px;
}

.loginDiv {
  padding: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(255, 227, 223);
  border-radius: 30px;
  padding: 16px 1px 1px 1px;
}

.search-input {
  width: 70%;
  height: 35px;
}

.App-content:not(Footer) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 35px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

.card-group-local {
  padding: 10px;
  background-color: #fffddf;
  border-radius: 50px;
  border: 2px solid rgb(255, 227, 223);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.card-local {
  background-color: white;
  border-radius: 30px;
  border: 2px solid rgb(255, 227, 223);
  width: 15%;
  min-width: 200px;
  min-height: 200px;
  margin: 1%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px RGBA(140, 140, 140, 0.3);

  flex-wrap: wrap;
  flex-flow: row wrap;
}
.card-local:hover {
  box-shadow: 0px 0px 10px RGBA(140, 140, 140, 0.7);
}

.card-footer-local {
  font-size: 14px;
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-end;
}

.footer-body {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px RGBA(140, 140, 140, 0.3);
  width: -webkit-fill-available;
  position: relative;
  bottom: 0%;
  margin-top: 30px;
}

.footer-contents {
  background-color: #ffffff;
  padding: 10px 18%;
  height: 250px;
}

.imprint {
  display: inline-block;
  float: left;
  list-style: none;
  font-size: 12px;
}
.imprint-title {
  font-weight: 700;
  text-decoration: underline;
}
.imprint-credits {
  display: inline;
  float: right;
  list-style: none;
  font-size: 12px;
}
.credits {
  font-weight: 700;
  text-decoration: underline;
}

.collections {
  display: block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.favouritesFolder {
  display: inline-block;
}


.newspaper-icon:hover {
  background-color: #fff !important;
}

.newspaper-icon {
  width: 200px;
  padding: 10px 30px 10px 30px;
}

.folder-group {
  margin-top: 30px; 
}

.inUserFolder {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
